/.classpath
/.project
/EXPRanking.htm
/HouseRanking.html
/Mechstats.htm
/MekWars*.jar
/MekWarsAdmin.jar
/MekWarsServer.jar
/MekWarsTracker.jar
/News.rdf
/Ranking.htm
/bin
/campaign
/classes
/data
/data.dat
/dist
/infofiles
/lib
/log.txt
/logs
/mmconf
/mwtrackerindex.html
/recordfiles
/server
/timestamp
